<launch>
    <!-- odom from vins estimator-->
    <!-- <arg name="odometry_topic" value="/plvins_estimator/odometry" /> -->
    <!-- odom from fast-lio -->
    <arg name="odometry_topic" value="/Odometry" />

    <include file="$(find plan_manage)/launch/include/fasterlio.launch"/>
    <!-- kindynameic alogoritm -->
    <include file="$(find plan_manage)/launch/include/algorithm.launch">
        <!-- choose planner A*:1 kin:2 -->
        <arg name="planner" value="2"/>
        <!-- odom -->
        <arg name="odometry_world" value = "$(arg odometry_topic)"/>
        <!-- using depth and odom -->
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="sensor_pose_topic" value="/plvins_estimator/camera_pose"/>
        <!-- using cloud and odom -->
        <arg name="odometry_topic" value = "/Odometry"/>
        <arg name="cloud_topic" value = "/cloud_registered"/>
        <!-- experice set -->
        <arg name="simulation" value="false"/>
        <arg name="slice_height" value="0.1"/>
        <arg name="kin_horizon" value="4.0"/>
        <!-- map size -->
        <arg name="map_size_x" value="100.0"/>
        <arg name="map_size_y" value="50.0"/>
        <arg name="map_size_z" value="4.0"/>
    </include>
    <!-- L1 controller -->
    <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2" output="log">
        <!-- <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2">        -->
        <param name="Vcmd" value="0.5" />
        <param name="baseSpeed" value="1425"/>
        <param name="baseAngle" value="90.0"/>
        <param name="AngleGain" value="-2.0"/>
        <param name="controller_freq" value="15"/>
        <param name="SerialUsing" value="true"/>
        <param name="port" value="/dev/feedback_controller"/>
        <remap from="/odometry/filtered" to="$(arg odometry_topic)" />
    </node>
</launch>