<launch>
    <arg name="odometry_topic" value = "/simulation_generator/odom"/>
    <!-- kindynameic alogoritm -->
    <include file="$(find plan_manage)/launch/include/algorithm.launch">
        <!-- choose planner A*:1 kin:2 -->
        <arg name="planner" value="1"/>
        <!-- not using cloud and odom -->
        <arg name="odometry_topic" value = "$(arg odometry_topic)"/>
        <arg name="odometry_world" value = "$(arg odometry_topic)"/>
        <arg name="cloud_topic" value = "/simulation_generator/global_cloud"/>
        <arg name="depth_topic" value="depth"/>
        <arg name="sensor_pose_topic" value="pose"/>
        <!-- simulation opion -->
        <arg name="simulation" value="false"/>
        <arg name="slice_height" value="0.1"/>
        <arg name="kin_horizon" value="5.0"/>
        <!-- map size -->
        <arg name="map_size_x" value="40.0"/>
        <arg name="map_size_y" value="40.0"/>
        <arg name="map_size_z" value="5.0"/>
    </include>
    <!-- L1 controller -->
    <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2" output="screen">
        <!-- <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2">        -->
        <param name="Vcmd" value="1.0" />
        <param name="baseSpeed" value="1425"/>
        <param name="baseAngle" value="90.0"/>
        <param name="AngleGain" value="-2"/>
        <param name="SerialUsing" value="false"/>
        <remap from="/odometry/filtered" to="$(arg odometry_topic)" />
    </node>
    <!-- simulation -->
    <include file="$(find plan_manage)/launch/include/simulation.launch"/>
    <!-- waypoint -->
    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
        <remap from="~odom" to="$(arg odometry_topic)"/>
        <remap from="~goal" to="/move_base_simple/goal"/>
        <remap from="~traj_start_trigger" to="/traj_start_trigger" />
        <param name="waypoint_type" value="manual-lonely-waypoint"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="body2cane_base" args="0 0 0 0 0 0 /base_link /cane_base" />

    <!-- visualisation -->
    <include file="$(find plan_manage)/launch/rviz.launch">

    </include>
</launch>
