<launch>
    <arg name="odometry_topic" value = "/simulation_generator/odom"/>

    <!-- kindynameic alogoritm -->
    <include file="$(find plan_manage)/launch/algorithm.launch">
        <arg name="odometry_topic" value = "$(arg odometry_topic)"/>
        <arg name="cloud_topic" value = "//map_generator/global_cloud"/>

        <!-- not using Image and pose -->
        <arg name="depth_topic" value="depth"/>
        <arg name="sensor_pose_topic" value="/map_generator/pose"/>

    </include>

    <!-- waypoint generator -->
    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
        <remap from="~odom" to="$(arg odometry_topic)"/>
        <remap from="~goal" to="/move_base_simple/goal"/>
        <remap from="~traj_start_trigger" to="/traj_start_trigger" />
        <param name="waypoint_type" value="manual-lonely-waypoint"/>
    </node>

    <!-- simulation -->
    <!-- <include file="$(find plan_manage)/launch/simulation.launch"/> -->
    <node pkg="tf" type="static_transform_publisher" name="tf_pub" args="0 0 0 0 0 0 1 world base_link 20" />
    <node name="map_pub" pkg="map_generator" type="map_pub" output="log" args=" $(find map_generator)/resource/office3.pcd"/>




    <!-- visualisation -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find plan_manage)/config/traj.rviz" />

</launch>