<launch>
    <arg name="odometry_topic" value = "/simulation_generator/odom"/>

    <!-- kindynameic alogoritm -->
    <include file="$(find plan_manage)/launch/algorithm.launch">
        <arg name="odometry_topic" value = "$(arg odometry_topic)"/>
        <arg name="cloud_topic" value = "/simulation_generator/global_cloud"/>

        <!-- not using Image and pose -->
        <arg name="depth_topic" value="depth"/>
        <arg name="sensor_pose_topic" value="pose"/>

        <arg name="simulation" value="true"/>
    </include>

    <!-- L1 controller -->
    <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2" output="screen">
        <!-- <node pkg="plan_ctrl" type="L1_controller_v2" respawn="false" name="L1_controller_v2">        -->
        <param name="Vcmd" value="1.0" />
        <param name="baseSpeed" value="1425"/>
        <param name="baseAngle" value="90.0"/>
        <param name="AngleGain" value="-0.5"/>
        <param name="SerialUsing" value="false"/>
        <remap from="/odometry/filtered" to="$(arg odometry_topic)" />
    </node>


    <!-- simulation -->
    <include file="$(find plan_manage)/launch/simulation.launch"/>

    <!-- visualisation -->
    <!-- <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find plan_manage)/config/traj.rviz" /> -->

</launch>