<launch>
    <!-- vins -->
    <node name="vins_estimator" pkg="vins" type="vins_node" args="$(find plan_manage)/config/d455/d455_mono_imu.yaml"/>
    <!-- loop fusion -->
    <node name="loop_fusion_node" pkg="loop_fusion" type="loop_fusion_node" args="$(find plan_manage)/config/d455/d455_mono_imu.yaml" output="screen"/>
    <!-- <arg name="config_path" default = "$(find plan_manage)/config/d455/d455_plvins.yaml" /> -->
	  <!-- <arg name="vins_path" default = "$(find feature_tracker)/../config/../" /> -->
      <!-- point tracker -->
    <!-- <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" > -->
        <!-- <param name="config_file" type="string" value="$(arg config_path)" /> -->
        <!-- <param name="vins_folder" type="string" value="$(arg vins_path)" /> -->
    <!-- </node> -->
      <!--line tracker -->
    <!-- <node name="linefeature_tracker" pkg="feature_tracker" type="LineFeature_tracker" > -->
        <!-- <param name="config_file" type="string" value="$(arg config_path)" /> -->
        <!-- <param name="vins_folder" type="string" value="$(arg vins_path)" /> -->
    <!-- </node> -->
    <!-- vins estimator -->
    <!-- <node name="plvins_estimator" pkg="plvins_estimator" type="plvins_estimator" output="screen"> -->
       <!-- <param name="config_file" type="string" value="$(arg config_path)" /> -->
       <!-- <param name="vins_folder" type="string" value="$(arg vins_path)" /> -->
    <!-- </node> -->
</launch>

