<?xml version="1.0"?>
<launch>
    
  <rosparam file="$(find gkf_control)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find gkf_control)/config/joint_limits.yaml" command="load"/>
  
  <arg name="model" default="$(find gkf_control)/urdf/gkf_joint_actuator.urdf.xacro"/>
  <arg name="gui" default="true" />
  
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  
  <node name="robot_hardware_interface" pkg="gkf_control" type="gkf_hardware_interface" output="screen"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  </node>  
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
        	/gkf_joint_actuator/joints_update
            /gkf_joint_actuator/joint1_velocity_controller
        "/>
</launch>
